In [1]:
#from flask import Flask, render_template, redirect
#from flask_pymongo import PyMongo
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
#executable_path = {'executable_path': 'C:\MY_WORLD\DA-Bootcamp\Chrome_Safe\chromedriver.exe'}
#browser = Browser('chrome', **executable_path)

executable_path = {'executable_path': './Chrome_Safe/chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [26]:
html = browser.html

In [27]:
news_soup = BeautifulSoup(html, 'html.parser')

In [28]:
#print(news_soup)

In [29]:
latest_article = news_soup.find('li',{'class','slide'})

In [30]:
print(latest_article)

<li class="slide"><div class="image_and_description_container"><a href="/news/8438/nasas-mro-completes-60000-trips-around-mars/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="This series of images shows carbon dioxide ice sublimating (going directly from a solid to a gas) inside a pit at Mars' south pole." src="/system/news_items/list_view_images/8438_mro-trim_main-226.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's MRO Completes 60,000 Trips Around Mars</h3></div></div></a><div class="list_text"><div class="list_date">May 15, 2019</div><div class="content_title"><a href="/news/8438/nasas-mro-completes-60000-trips-around-mars/" target="_self">NASA's MRO Completes 60,000 Trips Around Mars</a></div><div class="article_teaser_body">The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.</div></div></div></li>

In [31]:
news_title = latest_article.find("div", {'class','content_title'}).get_text()

In [32]:
news_p = latest_article.find("div", {'class','article_teaser_body'}).get_text()

In [33]:
news_title

"NASA's MRO Completes 60,000 Trips Around Mars"

In [34]:
news_p

'The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.'

In [35]:
news_items ={}
news_items['News Title']=news_title
news_items['News Paragraph']=news_p

In [36]:
news_items

{'News Title': "NASA's MRO Completes 60,000 Trips Around Mars",
 'News Paragraph': 'The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.'}

In [3]:
browser2 = Browser('chrome', **executable_path)
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser2.visit(url2)

In [4]:
full_image_elem = browser2.find_by_id('full_image')
full_image_elem.click()

In [5]:
more_info = browser2.find_link_by_partial_text('more info')
more_info.click()

In [6]:
html2 = browser2.html
news_soup2 = BeautifulSoup(html2, 'html.parser')

In [7]:
#print(news_soup2)

In [8]:
image = news_soup2.select_one('figure.lede a img')

In [9]:
print(image)

<img alt="The 'Dumbbell nebula,' also known as Messier 27, pumps out infrared light in this image from NASA's Spitzer Space Telescope. Planetary nebulae are now known to be the remains of stars that once looked a lot like our sun." class="main_image" src="/spaceimages/images/largesize/PIA14417_hires.jpg" title="The 'Dumbbell nebula,' also known as Messier 27, pumps out infrared light in this image from NASA's Spitzer Space Telescope. Planetary nebulae are now known to be the remains of stars that once looked a lot like our sun."/>

In [10]:
partial_image = image.get("src")
print(partial_image)

/spaceimages/images/largesize/PIA14417_hires.jpg

In [11]:
featured_image_url = "https://www.jpl.nasa.gov"+partial_image

In [12]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14417_hires.jpg

In [47]:
browser3 = Browser('chrome', **executable_path)
url3 = 'https://twitter.com/marswxreport?lang=en'
browser3.visit(url3)

In [48]:
html3 = browser3.html
news_soup3 = BeautifulSoup(html3, 'html.parser')

In [49]:
#news_soup3

In [50]:
mars_weather = news_soup3.select_one('p.TweetTextSize').get_text()

In [51]:
print(mars_weather)

InSight sol 169 (2019-05-18) low -100.6ºC (-149.1ºF) high -17.6ºC (0.4ºF)
winds from the S at 4.6 m/s (10.2 mph) gusting to 15.5 m/s (34.7 mph)
pressure at 7.50 hPapic.twitter.com/QKbNMc35Ia

In [52]:
browser4 = Browser('chrome', **executable_path)
url4 = 'https://space-facts.com/mars/'
browser4.visit(url4)

In [53]:
html4 = browser4.html
news_soup4 = BeautifulSoup(html4, 'html.parser')

In [54]:
table_stat = news_soup4.find("table", {'class','tablepress tablepress-id-mars'})

In [66]:
from pprint import pprint
pprint(table_stat)

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [56]:
eq_diameter = table_stat.find("tr", {'class','row-1 odd'}).get_text()
eq_diameter = eq_diameter.strip()
eq_diameter.split(":")
print(len(eq_diameter))
print(eq_diameter[0:19])
print(eq_diameter[20:28])

28
Equatorial Diameter
6,792 km

In [57]:
po_diameter = table_stat.find("tr", {'class','row-2 even'}).get_text()
po_diameter = po_diameter.strip()
po_diameter.split(":")
print(len(po_diameter))
print(po_diameter[0:14])
print(po_diameter[15:23])

23
Polar Diameter
6,752 km

In [58]:
mass = table_stat.find("tr", {'class','row-3 odd'}).get_text()
mass = mass.strip()
mass.split(":")
print(len(mass))
print(mass[0:4])
print(mass[5:34])

34
Mass
6.42 x 10^23 kg (10.7% Earth)

In [59]:
moons = table_stat.find("tr", {'class','row-4 even'}).get_text()
moons = moons.strip()
moons.split(":")
print(len(moons))
print(moons[0:5])
print(moons[6:25])
moons

25
Moons
2 (Phobos & Deimos)

'Moons:2 (Phobos & Deimos)'

In [60]:
orbit_dist = table_stat.find("tr", {'class','row-5 odd'}).get_text()
orbit_dist = orbit_dist.strip()
orbit_dist.split(":")
print(len(orbit_dist))
print(orbit_dist[0:14])
print(orbit_dist[15:39])
orbit_dist

39
Orbit Distance
227,943,824 km (1.52 AU)

'Orbit Distance:227,943,824 km (1.52 AU)'

In [61]:
orbit_period = table_stat.find("tr", {'class','row-6 even'}).get_text()
orbit_period = orbit_period.strip()
orbit_period.split(":")
print(len(orbit_period))
print(orbit_period[0:12])
print(orbit_period[13:33])

33
Orbit Period
687 days (1.9 years)

In [62]:
surface_temp = table_stat.find("tr", {'class','row-7 odd'}).get_text()
surface_temp = surface_temp.strip()
surface_temp.split(":")
print(len(surface_temp))
print(surface_temp[0:19])
print(surface_temp[20:34])

34
Surface Temperature
 -153 to 20 °C

In [63]:
first_record = table_stat.find("tr", {'class','row-8 even'}).get_text()
first_record = first_record.strip()
first_record.split(":")
print(len(first_record))
print(first_record[0:12])
print(first_record[13:31])
key= first_record[0:12]
key

30
First Record
2nd millennium BC

'First Record'

In [83]:
recorded_by = table_stat.find("tr", {'class','row-9 odd'}).get_text()
recorded_by = recorded_by.strip()
recorded_by.split(":")
print(len(recorded_by))
print(recorded_by[0:11])
print(recorded_by[12:31])
key9 = recorded_by[0:11]
value9 = recorded_by[12:31]

32
Recorded By
Egyptian astronomer

In [91]:
table_stat_dist = {f'{eq_diameter[0:19]}':eq_diameter[20:28],f'{po_diameter[0:14]}':po_diameter[15:23],f'{mass[0:4]}':mass[5:34],f'{moons[0:5]}':moons[6:25],f'{orbit_dist[0:14]}':orbit_dist[15:39],f'{orbit_period[0:12]}':orbit_period[13:33],f'{surface_temp[0:19]}':surface_temp[20:34],f'{first_record[0:12]}':first_record[13:31],f'{recorded_by[0:11]}':recorded_by[12:31]}
table_stat_dist

{'Equatorial Diameter': '6,792 km', 'Polar Diameter': '6,752 km', 'Mass': '6.42 x 10^23 kg (10.7% Earth)', 'Moons': '2 (Phobos & Deimos)', 'Orbit Distance': '227,943,824 km (1.52 AU)', 'Orbit Period': '687 days (1.9 years)', 'Surface Temperature': ' -153 to 20 °C', 'First Record': '2nd millennium BC', 'Recorded By': 'Egyptian astronomer'}

In [93]:
import pandas as pd
table_stat_dist_df = pd.DataFrame(table_stat_dist.items(),columns=['Parameters','Values'])
table_stat_dist_df

            Parameters                         Values
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.42 x 10^23 kg (10.7% Earth)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.52 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                  -153 to 20 °C
7         First Record              2nd millennium BC
8          Recorded By            Egyptian astronomer

In [14]:
browser5 = Browser('chrome', **executable_path)
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser5.visit(url5)

In [15]:
html5 = browser5.html
news_soup5 = BeautifulSoup(html5, 'html.parser')

In [16]:
hempisphere_items = news_soup5.find_all("div", {'class','item'})

In [17]:
hempisphere_items

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [34]:
#img_list = []
#title_list = []
img_urls_list = []

for h in hempisphere_items:
    hemispheres_dict = {}
    title_p = h.find('h3').get_text()
    #title_list.append(title_p)
    ar = h.find('img',class_='thumb')
    href_link  = 'https://astrogeology.usgs.gov' + ar['src']
    #img_list.append(href_link)
    hemispheres_dict['title']= title_p
    hemispheres_dict['img_url'] = href_link
    img_urls_list.append(hemispheres_dict)
    
print(img_urls_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}]

In [179]:
# import time
# import datetime

# img_urls_list = []

# for i in img_list:
#     hemispheres_dict = {}
#     browser5.visit(i)
#     time.sleep(5)
#     html5   = browser5.html
#     soup_img = BeautifulSoup(html5, 'html.parser')
#     h_img_url = soup_img.find('div', class_='downloads').find('li').a['href']
#     #img_urls_list.append(h_img_url)
#     hemispheres_dict['title']= title_list[i]
#     hemispheres_dict['img_url'] = img_list[i]
#     img_urls_list.append(hemispheres_dict)

# print(img_urls_list)

In [180]:
# hemispheres_dict
# pprint(img_urls_list)